<div class="row display-content">
  <h2>Edit <%= @client.full_name %></h2>
  <form action="/clients/<%= @client.id %>" method="post" class="ko-form">
    <input type="hidden" name="_method" value="patch">
    <label for="first_name" hidden>First Name</label>
    <input name="first_name" placeholder="First Name" value="<%= @client.first_name %>">
    <label for="last_name" hidden>Last Name</label>
    <input name="last_name" placeholder="Last Name" value="<%= @client.last_name %>">
    <label for="phone" hidden>Phone Number</label>
    <input name="phone" placeholder="Phone Number" value="<%= @client.phone %>">
    <select name="stylist_id">
      <% @stylists.each do |stylist| %>
      <option value="<%= stylist.id %>"<% if @client.stylist.id == stylist.id %> selected<% end %>><%= stylist.full_name %></option>
      <% end %>
    </select>
    <button type="submit">Submit Changes</button>
  </form>
</div>
